# Краткий туториал по работе с SQLAlchemy

In [12]:
# Подгрузим нужные библиотеки
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker
import datetime

from models import News
import uuid

Инициируем нашу БД. Вообще тут грубый вариант, правильный вариант нужно сделать, инициализацию в отдельном модуле, классе

In [13]:
engine = create_engine('sqlite:///newsviz.sqlite', echo=True)
Session = sessionmaker(bind=engine)
Session = sessionmaker()
Session.configure(bind=engine)
# Открыли сессию для записи
session = Session()

Пример вставки одной записи. Используется функция **.add**

In [4]:
news = News(id=str(uuid.uuid4()), date='2020-12-07', topic='sport', text="{'москва': 1, '30': 1, 'апрель': 2}", created_at=datetime.date.today(), updated_at=datetime.date.today())

In [5]:
session.add(news)

Пример множественной ставки нескольких записей с помощью функцию **add_all**

In [6]:
session.add_all([
    News(id=str(uuid.uuid4()), date='2020-12-07', topic='sport', text="{'москва': 1, '30': 1, 'апрель': 2}", created_at=datetime.date.today(), updated_at=datetime.date.today()),
    News(id=str(uuid.uuid4()), date='2020-12-06', topic='sport', text="{'москва': 1, '30': 13, 'апрель': 2}", created_at=datetime.date.today(), updated_at=datetime.date.today()),
    News(id=str(uuid.uuid4()), date='2020-12-05', topic='moscow', text="{'москва': 1, '30': 1, 'апрель': 2}", created_at=datetime.date.today(), updated_at=datetime.date.today())])

In [7]:
# Закрываем запись в базу. Именно эта команда дает старт окончании транзакции, после ее выполнения данные запишуться
# в базу данных
session.commit()

2020-12-08 20:57:58,821 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2020-12-08 20:57:58,822 INFO sqlalchemy.engine.base.Engine ()
2020-12-08 20:57:58,823 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2020-12-08 20:57:58,824 INFO sqlalchemy.engine.base.Engine ()
2020-12-08 20:57:58,826 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2020-12-08 20:57:58,829 INFO sqlalchemy.engine.base.Engine INSERT INTO news (created_at, updated_at, id, date, topic, text) VALUES (?, ?, ?, ?, ?, ?)
2020-12-08 20:57:58,830 INFO sqlalchemy.engine.base.Engine (('2020-12-08 00:00:00.000000', '2020-12-08 00:00:00.000000', 'a6eeda0e-7526-4441-a09a-9deffe3a97df', '2020-12-07', 'sport', "{'москва': 1, '30': 1, 'апрель': 2}"), ('2020-12-08 00:00:00.000000', '2020-12-08 00:00:00.000000', '8fc5ce3d-6583-4986-988a-4e2afed2704f', '2020-12-07', 'sport', "{'москва': 1, '30': 1, 'апрель': 2}"), ('2020-12-08 00:00:00.000000', '2020-12-08 00:00:00.000000', 'f4a20f27-ea5b-40cd-b56d-aa87d809e501', '2020-12-06', 'sport', "{'москва': 1, '30': 13, 'апрель': 2}"), ('2020-12-08 00:00:00.000000', '2020-12-08 00:00:00.000000', '025b5279-2479-44f6-a0cd-5998842292ff', '2020-12-05', 'moscow', "{'москва': 1, '30': 1, 'апрель': 2}"))
2020-12-08 20:57:58,832 INFO sqlalchemy.engine.base.Engine COMMIT

In [8]:
# Пример вывода данных из базы
for instance in session.query(News).order_by(News.id):
    print(instance.id, instance.date, instance.topic, instance.text)

2020-12-08 20:58:09,373 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2020-12-08 20:58:09,374 INFO sqlalchemy.engine.base.Engine SELECT news.created_at AS news_created_at, news.updated_at AS news_updated_at, news.id AS news_id, news.date AS news_date, news.topic AS news_topic, news.text AS news_text
FROM news ORDER BY news.id
2020-12-08 20:58:09,376 INFO sqlalchemy.engine.base.Engine ()
025b5279-2479-44f6-a0cd-5998842292ff 2020-12-05 moscow {'москва': 1, '30': 1, 'апрель': 2}
05682b32-e282-499a-b76e-0a36b7537b82 2020-12-07 sport {'москва': 1, '30': 1, 'апрель': 2}
7a3c0bf1-6ce3-403b-b2d7-36686b7c0a00 2020-12-07 sport {'москва': 1, '30': 1, 'апрель': 2}
7ff54347-9325-467b-9f35-bac21f99464b 2020-12-05 moscow {'москва': 1, '30': 1, 'апрель': 2}
856300d3-568b-4032-b6e2-1107a11486a7 2020-12-07 sport {'москва': 1, '30': 1, 'апрель': 2}
8fc5ce3d-6583-4986-988a-4e2afed2704f 2020-12-07 sport {'москва': 1, '30': 1, 'апрель': 2}
a6eeda0e-7526-4441-a09a-9deffe3a97df 2020-12-07 sport {'москва': 1, '30': 1, 'апрель': 2}
ae17e90f-065a-49e7-b659-f2ab39435af0 2020-12-06 sport {'москва': 1, '30': 13, 'апрель': 2}
b034fcc5-2adc-4a9b-a9b9-076c1f46e7a2 2020-12-07 sport {'москва': 1, '30': 1, 'апрель': 2}
d3aa1c5f-adf8-41c5-8f13-1c9659aefde9 2020-12-07 sport {'москва': 1, '30': 1, 'апрель': 2}
f4a20f27-ea5b-40cd-b56d-aa87d809e501 2020-12-06 sport {'москва': 1, '30': 13, 'апрель': 2}

In [9]:
# Еще один пример вывода
news = session.query(News).all()

2020-12-08 20:58:33,896 INFO sqlalchemy.engine.base.Engine SELECT news.created_at AS news_created_at, news.updated_at AS news_updated_at, news.id AS news_id, news.date AS news_date, news.topic AS news_topic, news.text AS news_text
FROM news
2020-12-08 20:58:33,898 INFO sqlalchemy.engine.base.Engine ()

In [10]:
print(news)

[<News(date='2020-12-07', topic='sport', text='{'москва': 1, '30': 1, 'апрель': 2}')>, <News(date='2020-12-07', topic='sport', text='{'москва': 1, '30': 1, 'апрель': 2}')>, <News(date='2020-12-07', topic='sport', text='{'москва': 1, '30': 1, 'апрель': 2}')>, <News(date='2020-12-07', topic='sport', text='{'москва': 1, '30': 1, 'апрель': 2}')>, <News(date='2020-12-07', topic='sport', text='{'москва': 1, '30': 1, 'апрель': 2}')>, <News(date='2020-12-06', topic='sport', text='{'москва': 1, '30': 13, 'апрель': 2}')>, <News(date='2020-12-05', topic='moscow', text='{'москва': 1, '30': 1, 'апрель': 2}')>, <News(date='2020-12-07', topic='sport', text='{'москва': 1, '30': 1, 'апрель': 2}')>, <News(date='2020-12-07', topic='sport', text='{'москва': 1, '30': 1, 'апрель': 2}')>, <News(date='2020-12-06', topic='sport', text='{'москва': 1, '30': 13, 'апрель': 2}')>, <News(date='2020-12-05', topic='moscow', text='{'москва': 1, '30': 1, 'апрель': 2}')>]

In [11]:
for item in news:
    print(item.id, item.topic, item.date, item.text)

7a3c0bf1-6ce3-403b-b2d7-36686b7c0a00 sport 2020-12-07 {'москва': 1, '30': 1, 'апрель': 2}
05682b32-e282-499a-b76e-0a36b7537b82 sport 2020-12-07 {'москва': 1, '30': 1, 'апрель': 2}
d3aa1c5f-adf8-41c5-8f13-1c9659aefde9 sport 2020-12-07 {'москва': 1, '30': 1, 'апрель': 2}
b034fcc5-2adc-4a9b-a9b9-076c1f46e7a2 sport 2020-12-07 {'москва': 1, '30': 1, 'апрель': 2}
856300d3-568b-4032-b6e2-1107a11486a7 sport 2020-12-07 {'москва': 1, '30': 1, 'апрель': 2}
ae17e90f-065a-49e7-b659-f2ab39435af0 sport 2020-12-06 {'москва': 1, '30': 13, 'апрель': 2}
7ff54347-9325-467b-9f35-bac21f99464b moscow 2020-12-05 {'москва': 1, '30': 1, 'апрель': 2}
a6eeda0e-7526-4441-a09a-9deffe3a97df sport 2020-12-07 {'москва': 1, '30': 1, 'апрель': 2}
8fc5ce3d-6583-4986-988a-4e2afed2704f sport 2020-12-07 {'москва': 1, '30': 1, 'апрель': 2}
f4a20f27-ea5b-40cd-b56d-aa87d809e501 sport 2020-12-06 {'москва': 1, '30': 13, 'апрель': 2}
025b5279-2479-44f6-a0cd-5998842292ff moscow 2020-12-05 {'москва': 1, '30': 1, 'апрель': 2}